<h1>Log In</h1>
<br>
<form action="/sessions" method="post">
  <p><label for="email">Email: </label><input type="text" name="email" id="email" /></p>
  <p><label for="password">Password: </label><input type="password" name="password" id="password" /></p>
  <input class="btn btn-info" type="submit">
</form>
