<% if flash.has?(:err) %>
  <h3 style="color: red;"><%= flash[:err] %></h3>
<% end %>

<% if @user %>
  <h1>Welcome <%= @user.name %></h1>
  <br>
  <h2>Here are your Current Probs</h2>
<% else %>
  <h3>Here Are Everyones Problems</h3>
<% end %>

<ol>
<% @problems.each do |problem|%>
  <li><a href="/problems/<%= problem.id %>"><%= problem.title %></a></li><br>
<% end %>
</ol>
