<h1>Create a Problem to Solve:</h1>
<br>

<% if @problem && @problem.errors %>
  <% @problem.errors.full_messages.each do |msg| %>
    <p style="color: red;"><%= msg %></p>
  <% end %>
<% end %>

<br>
<form action="/problems" method="post">
  <p><label for="title">Title:</label><input type="text" name="title" id="title" value="<%= @problem ? @problem.title : "" %>" /></p>
  <p><label for="description">Description:</label><textarea type="text" id="description" name="description"><%= @problem ? @problem.description : "" %></textarea></p>
  <p><label for="deadline">Deadline:</label><input type="text" name="deadline" id="deadline" placeholder="yyyy/mm/dd"></p>
  <input type="submit" id="submit" value="submit">
</form>
